.operator-selected {
    background-color: rgb(130, 200, 130);
    color: yellow;
}
.operator {
    background-color: rgb(150, 220, 150);
    color: black;
}
.caller-mute-selected {
    background-color: rgb(120, 100, 100);
    color: yellow;
}
.caller-mute {
    background-color: rgb(170, 150, 150);
    color: black;
}
.caller-selected {
    background-color: rgb(220, 30, 30);
    color: yellow;
}
.caller {
    background-color: rgb(250, 60, 60);
    color: black;
}
